<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Formulario de Cliente</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body class="cuerpo_pag">
        <div class="cabecera">
            <header>
                <h1>
                Registro de Cliente
                </h1>
            </header>
        </div>
		<form action="#" method="post">
			<div class="caja_cliente">
				<label id="labeles">DATOS DEL CLIENTE</label>
				<br>
				<!-- Para pedir del tipo numérico -->
				<label for="dni">DNI:</label>
				<input id="dni" type="number" name="dni" required="required"/>
				<!--  Para pedir nombre y Apellido-->
				<br>
				<label for="nombre">Nombre:</label>
				<input id="nombre" type="text" name="nombre" required="required"/>
				<label for="apellido">Apellido:</label>
				<input id="apellido" type="text" name="apellido" required="required"/>
				<!-- Para pedir fecha -->
				<br>
				<label for="fechaNac">Fecha de Nacimiento:</label>
				<input id="fechaNac" type="date" name="fechaNac" required="required"/>
				<!-- Para Ingresar genero -->
				<br>
				<label>Seleccione su genero: </label>
				<label for="masc">Masculino</label>
				<input id="masc" type="radio" value="masculino" name="tipoGenero"/>
				<label for="fem">Femenino</label>
				<input id="fem" type="radio" value="femenino" name="tipoGenero"/>
				<label for="x">X</label>
				<input id="x" type="radio" value="x" name="tipoGenero"/>
				<!-- Para ingresar Correo -->
				<br>
				<label for="txtemail">Ingrese email:</label>
				<input id="txtemail" type="email"  name="email" required="required"/>
			</div>
			
			<!-- Para Direccion -->
			<br>
			<div id="caja_direccion">
				<label id="labeles">DIRECCION</label>
				<br>
				<label for="txtcalle">Ingrese el nombre de la calle:</label>
				<input id="txtcalle" type="text"  name="txtcalle" required="required"/>
				<label for="numcasa">Ingrese la numeración</label>
				<input id="numcasa" type="number" name="numcasa" required="required"/>
				<!-- Para seleccionar Provincia -->
				<br>
				<label for="provincia"> Selecciona la Provincia</label>
				<select id="pronvincia" required="required">
					<option value="#">  </option>
					<option value="JUJUY">Jujuy</option>
					<option value="SALTA">Salta</option>
					<option value="TUCUMAN">Tucuman</option>
					<option value="SANTIAGO DEL ESTERO">Santiago del Estero</option>
					<option value="CATAMARCA">Catamarca</option>
				</select>
			<!-- Para ingresar numero de telefono celular -->
				<br>
				<label for="numcel">Ingrese su nro. Celular</label>
				<input id="numcel" type="number" name="numcel" required="required"/>
			</div>

			<br>
			<br>
			<div id="ultima_caja">
			<!-- Para ingresar su categoría de interes-->
				<label id="labeles">SELECCIONE SU CATEGORÍA DE INTERES</label>
				<br>
				<label for="com">Comestible</label>
				<input id="com" type="checkbox" name="comida">
				<label for="lim">Limpieza</label>
				<input id="lim" type="checkbox" name="limpieza">
				<label for="cosm">Cosmetico</label>
				<input id="cosm" type="checkbox" name="cosmetico">
				<label for="hig">Higiene</label>
				<input id="hig" type="checkbox" name="higiene">
				<!-- Para ingresar Password -->
				<br>
				<label for="contra">Ingrese su Contraseña</label>
				<input id="contra" type="password" name="numcel" required="required"/>
				<!-- Para aceptar terminos y condiciones -->
				<br>
				<label for="Acept">Aceptar recibir información de la empresa</label>
				<input id="Acept" type="checkbox" name="Acept">
				<br>
				<label for="CondicionesEmperesariales"></label>
				<textarea rows="10" cols="50" name="Condicion" id="CondicionesEmperesariales">Ingrese su sugerencia para esta empresa</textarea>
			</div>
			<br>
			<label for="Aceptar">Aceptar terminos y condiciones</label>
			<input id="Aceptar" type="checkbox" name="Aceptar" required="required"/>
			<button type="submit">Enviar</button>
		</form>
	</body>
</html>