<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Trabajo Practico n3</title>
<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body class="body-P1">

	<header>
		<h1 id="tituloh1">Bienvenidos a Programación Visual</h1>
	</header>


<!-- Agregado de enlaces -->

	<nav class="caja_navegacion">
		<a class="enlaces1" href="https://virtual.unju.edu.ar/course/view.php?id=2540"> Aula Virtual</a>
		<a class="enlaces1" href="https://drive.google.com/file/d/11dfjZRXbsiX_Y1-8EmOn7D7mjjo1bHzI/view">Plan de Estudio de la Materia</a>
	</nav>

<!--Agregado de secciones y títulos  -->
	<main>
		<section>
			<h2>Profesores a cargo</h2>
			<ul>
				<li>Vega, Alejandro Ariel</li>
				<li>Apaza, Carolina</li>
				<li>Sosa, Gustavo</li>
				<li>Rodriguez, Juan Carlos</li>
			</ul>
		</section>
		
		<section>
			<h3>Descripción de la materia</h3>
			<p>Esta asignatura ofrece a los alumnos un cuerpo de conocimientos teóricos y
prácticos cuya compresión y utilización les permitirá desarrollar aplicaciones robustas con
un entorno visual amigable e intuitivo para el usuario. Además la materia brinda conocimientos en el manejo de tecnologías que facilitan
las tareas del desarrollador como el control de versiones con GIT, la administración de
dependencias con MAVEN, desarrollo ágil con Spring Boot y el uso de entornos de
desarrollo avanzados como Netbeans, Eclipse y Visual Studio Code. También se promueve la eficiencia y eficacia del desarrollo del sofware para
alcanzar estándares de la más alta calidad, de tal forma que el código obtenido sea
fácilmente entendible, extensible y reusable. Estando bien estructurado y testado de forma
que sea fácil de trabajar en equipo y este bien preparado para cambios futuros. Por último, se brinda al alumno los conocimientos teóricos y prácticos para realizar la
persistencia de los objetos en base de datos relacionales, articulando conocimientos con
otras materias como base de datos.</p>
		</section>
	</main>



	
	<!-- Agregado de la tabla -->

<!-- Agregado del aside -->
<!-- Si <aside> se pone dentro de <article>, entonces se puede entender que <aside> es un 
contenido complementario, pero que ya no forma parte del contenido principal.

El elemento <aside> podrían ser los sidebar, las barras laterales que algunos sitios web presentan o 
publicidad, banners, o simplemente elementos complementarios -->

	<!-- El atributo alt contiene el texto alternativo, este texto se mostrará si por alguna razón no carga la imagen, 
	por lo tanto tiene que ser un texto que describa a dicha imagen. -->




<!-- Agregado de footer -->
<!-- Este elemento prácticamente contiene el pie de página, dentro pueden ir como por ejemplo iconos de 
redes sociales, datos de contacto, términos del servicio, etc. -->


</body>
</html>