<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trabajo Practico n3</title>
</head>
<body>
<header>
	<h1>Desarrollo del TP3</h1>	
</header>

<nav >
	<br>
	<a href="https://desarrolladoresweb.org/html/enlaces-o-hipervinculos-en-html/">Aprende HTML</a>
	<br>
	<a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Aula Virtual de PV</a>
	<br>
	<a href="https://github.com/fabri98bazan/trabajo_practico_3">Mi repositorio</a>
	<br>
</nav>
<main>
	<section>
	<h2>Seccion número 1</h2>
	<h3>Subtítulo 1</h3>
	</section>
	
	<section>
	<h2>Seccion número 2</h2>
	<h3>Subtítulo 2</h3>
	</section>
	
	<section>
	<h2>Seccion número 3</h2>
	<h3>Subtítulo 3</h3>
	</section>
</main>
</body>
</html>