@charset "UTF-8";

.cabecera{
    background-color: blue;
    color: white;
    font-family: sans-serif;
    box-sizing: content-box;
}

.cuerpo_pag{
	background-color: #00ffff;
	font-family: fantasy;
	text-align: center;
}

.caja_cliente {
    background-color: dodgerblue;
    width:revert;
    height:auto;
    font-family:math;
}

#dni{
    height:10px;
    width:150px;
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#nombre{
   border-radius:5px;
    -webkit-border-radius: 5px; 
}

#apellido{
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#txtemail{
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#caja_direccion{
    background-color: dodgerblue;
    font-family:math;
    border-radius: 5px;
}

#ultima_caja{
    background-color: dodgerblue;
    font-family:math;
    border-radius: 5px; 
}

.labeles {
    color: white;
    font-style:oblique
}

/*Parte 1 del tp3*/
.body-P1{
	background: url(https://wallpapers.com/images/hd/information-technology-3d-circuit-symbol-s7hpo0fa1vr1k5ru.jpg);
}

#tituloh1{
	font-size:45px;
	text-align:center;
	font-family: monospace;
	padding:0px;
	color:#cffcfc;
	margin:0;
}

.caja_navegacion{
	display: flex;
	text-align: center;
}

.enlaces1{
	margin-left: 60px;
	font-family: fantasy;
	font-size:41px;
	color: #ff8040;
	margin-bottom:18px;
	margin-top:0px;
}

.menu{
	text-align: center;
}

.lista_profes{
	font-family: fantasy;
	font-size:20px;
	padding: 0px;
	margin:0;
	margin-left:0;
	color:red;
	background-color: orange;
	box-sizing:border-box; 
}


.profescargo{
	text-align: center;
	color:red;
	margin: 0;
	font-family: fantasy;
	font-size: 35px;
}

.secciones{
	background-color:#ccffcc ;
}

.descpMateriaTitulo{
	text-align: center;
	color:blue;
	margin: 0;
	font-family: fantasy;
	font-size: 35px;
	background-color: #ccffcc;
}

.descrpMateria{
	font-family: monospace;
	font-size:20px;
	padding: 0px;
	margin:0;
	border: 3px solid;
	border-color: red;
}

.titCont{
	box-sizing: border-box;
	font-size: 45px;
	text-align:center;
	font-family: fantasy;
	background-color: #cffcfc;
	margin-bottom:0;
}

.tablaUnidades {
  border: black 1px solid;
  color:orange;
}

td, th {
  font-family:monospace;
  font-size:20px;
  border: white 1px solid;
}
.aside{
	text-align: center;
}

.enlaceEspecial{
	color:#ff8040;
	font-family: monospace;
	font-size: 21px;
}

.Img{
	width: 250px;
	height: 75px;
}

#pie_pagina{
	font-family:monospace;
	font-size:25px;
	text-align:center;
	color:#cfcfcf;
}

.facebook{
	color:#ff8040;
}





