@charset "UTF-8";

.cabecera{
    background-color: blue;
    color: white;
    font-family: sans-serif;
    box-sizing: content-box;
}

.cuerpo_pag{
	background-color: #00ffff;
	font-family: fantasy;
	text-align: center;
}

.caja_cliente {
    background-color: dodgerblue;
    width:revert;
    height:auto;
    font-family:math;
}

#dni{
    height:10px;
    width:150px;
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#nombre{
   border-radius:5px;
    -webkit-border-radius: 5px; 
}

#apellido{
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#txtemail{
    border-radius:5px;
    -webkit-border-radius: 5px;
}

#caja_direccion{
    background-color: dodgerblue;
    font-family:math;
    border-radius: 5px;
}

#ultima_caja{
    background-color: dodgerblue;
    font-family:math;
    border-radius: 5px; 
}

#labeles {
    color: white;
    font-style:oblique
};

